<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="9646e6e1-1d54-4d3e-8f7c-53b6210ab4d3" activeEnvironment="Default" name="StreetLamp" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ProjectSettings@hermesConfig">${#System#user.home}\.hermes</con:setting><con:setting id="9646e6e1-1d54-4d3e-8f7c-53b6210ab4d3fileName">StreetLamp</con:setting></con:settings><con:requirements/><con:properties><con:property><con:name>URI</con:name><con:value>http://47.92.90.243:8099/</con:value></con:property><con:property><con:name>DBHost</con:name><con:value>jdbc:mysql://47.92.81.244:3306/smart_light</con:value></con:property><con:property><con:name>DBUser</con:name><con:value>slight</con:value></con:property><con:property><con:name>DBPwd</con:name><con:value>abcd1234!#</con:value></con:property></con:properties><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:sensitiveInformation/></con:soapui-project>